body{margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.app{text-align:center}.main{margin-right:auto;margin-left:auto;max-width:500px}.report-button{margin:10px 0}.payroll-button{margin-bottom:10px}
/*# sourceMappingURL=main.1ed9965c.chunk.css.map */